main{
    margin-top: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.head-main{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.top-img img{
    overflow: hidden; 
    width: 100%;  
}

.head-main h1{
    color: #545454;
    margin: 35px 0;
}
.head-main p{
    margin-right: auto;
    margin-left: auto;
    color: #545454;
    line-height: 20px;
}

.head-main h2{
    color: #545454;
    margin: 50px 0;
}

.membres{
    padding: 25px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e2e2e2;
    
}

.content{
    width: 25%;
    text-align: center;
    margin: 0 25px;
}

.content p{
    color: #545454;
}

.content-img{
    margin-bottom: 50px;
}

.content-img h2{
    text-align: center;
    color: #545454;
    margin: 50px 0;
}

#title-page{
    margin-bottom: 30px;
}

.content img{
    height: 225px;
    width: auto;
}

@media screen and (min-width: 1251px) and (max-width: 1400px){
    .membres{
        display: block;
    }

    .img-size{
        width: 70%;
        height: auto;
    }

    .content{
        margin: 0;
        margin-bottom: 50px;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }   
}

@media screen and (max-width: 1250px){
    .membres{
        width: 100%;
        display: block;
    }

    .content{
        margin: 0;
        margin-bottom: 50px;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }   

    .content img{
        width: auto;
    }


}

@media screen and (max-width: 700px){
    main{
        margin-top: 150px;
    }
    
    .img-size{
        width: 70%;
        height: auto;
    }

    .content img{
        width: 90%;
        height: auto;
    }

    .top-img{
        display: none;
    }
}
