main{
    margin-top: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #535353;
}

main h1{
    text-align: center;
}

.top-img img{
    width: 100%;
}

.flexEphemere{
    margin-top: 50px;
    width: 100%;
    background: #e2e2e2;
}

.flex{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

.topPara{
    text-align: center;
    font-size: 120%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.imgEph img{
    width: 80%;
}

.contentText{
    margin-top: auto;
    margin-bottom: auto;
}

.titlePlanet{
    width: 50%;
    text-align: center;
    border-right: 1px solid #535353;
}

.contentElement{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.titlePlanet h3{
    width: 120%;
}

.lastElement{
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 701px) and (max-width: 1199px){
    .flex{
        display: block;
    }
    
    .titlePlanet{
        width: 100%;
        text-align: center;
        border-right: none;
    }

    .imgEph img{
        width: 100%;
    }
    
    .titlePlanet h3{
        width: auto;
    }

    .contentElement{
        margin-top: 50px;
    }
    
    .flex{
        display: block;
    }
    
    .lastElement{
        display: block;
    }
}

@media screen and (max-width: 700px){
    main{
        margin-top: 150px;
    }

    .titlePlanet{
        width: 100%;
        text-align: center;
        border-right: none;
    }

    .imgEph img{
        width: 100%;
    }
    
    .titlePlanet h3{
        width: auto;
    }

    .contentElement{
        margin-top: 50px;
    }
    
    .flex{
        display: block;
    }
    
    .lastElement{
        display: block;
    }

    .top-img img{
        display: none;
    }

}

