main{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #535353; 
    background: #e2e2e2;
    padding: 25px 0;
    border: 1px solid #535353;
}

header{
    background: black;
}

main h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

#message{
    width: 100%;
    height: 250px;
}

#objet{
    width: 100%;
    height: 40px;
}

.bottom{
    text-align: center;
    width: 100px;
    height: 35px;
    margin: 50px auto;
}

.bottom a{
    text-decoration: none;
    color: white;
}

.bottom p{
    background:  rgb(21, 132, 196);
    padding: 10px;
    border-radius: 15px;
}


::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}

.faqContent{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.message{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.top-img img{
    width: 100%;
}

@media screen and (min-width: 701px) and (max-width: 1200px){
    main{
        margin-top: 150px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        color: #535353; 
        background: #e2e2e2;
        padding: 25px 0;
        border: 1px solid #535353;
    }
}
 

@media screen and (max-width: 700px){
    main{
        margin-top: 150px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        color: #535353; 
        background: #e2e2e2;
        padding: 25px 0;
        border: 1px solid #535353;
    }
}
