main{
    margin-top: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #535353;
}

.first-head img{
    height: 460px;
}

.title-gully a{
    text-decoration: underline;
    color: rgb(21, 132, 196);
}
#title-page{
    text-align: center;
    margin: 50px 0;
}

.top-img img{
    width: 100%;
}

.flex-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.first-head{
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.secondHead{
    background: #e2e2e2;
    padding: 25px 0;
    color: #535353;
}
.flex-galerie2 p{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flex-galerie2{
    width: 100%;
    font-size: 125%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.second-flex p{
    font-style: normal;
}

#para{
    text-align: center;
    font-size: 120%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.second-flex img{
    height: 600px;
}

.flex-galerie3{
    color: #535353;
    text-align: center;
    margin-top: 50px;
}

.story{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.flex-story{
    width: 90%;
}

.flex-story:last-child{
    margin-bottom: 50px;
}

@media screen and (min-width: 1200px) and (max-width: 1500px)   {
    .story{
        display: bock;  
    }

    .first-head img{
        width: 50%;
    }
}

@media screen and (min-width: 701px) and (max-width: 1199px){
    #title-page{
        margin: 0 15px;
    }

    .second-flex{
        text-align: center;
    }
    .second-flex img{
        height: auto;
    }


    .first-head img{
        height: auto;
    }
    
    .flex-content{
        display: block
    }

    .flex-galerie2{
        display: block;
    }
}

@media screen and (max-width: 700px){
    main{
        margin-top: 150px;
    }
    
    .second-flex{
        text-align: center;
    }

    img{
        width: 90%;
    }

    .first-head img{
        height: auto;
    }

    .second-flex img{
        height: auto;
    }

    .flex-content{
        display: block
    }

    .top-img img{
        display: none;
    }

    .flex-galerie2{
        display: block;
    }
}

