main{
    margin-top: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #535353;
}

main h1{
    text-align: center;
}

.contentDL{
    display: flex;
    flex-direction: row;
    background: #e2e2e2;
    padding: 50px 0;
}

.firstLink a{
    text-decoration: none;
    color: rgb(21, 132, 196);
}

.firstLink ul{
    padding-inline-start: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.firstLink:first-child{
    border-right: 1px solid #535353;
}

.firstLink a:hover{
    text-decoration: underline;
}

.firstLink li{
    list-style-type: none;
    margin-bottom: 25px;
}

.firstLink{
    display: block;
    width: 50%;
}

.top-img img{
    width: 100%;
}


@media screen and (max-width: 700px){
    main{
        margin-top: 150px;
    }

    .contentDL{
        display: block;
        background: #e2e2e2;
        padding: 50px 0;
    }

    .firstLink:first-child{
        border-right: none; 
    }

    
    .firstLink ul{
        -webkit-padding-start: 0;
                padding-inline-start: 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .firstLink{
        display: block;
        width: 100%;
    }


    .top-img img{
        display: none;
    }

}
