main{
    margin-top: 50px;
    width: 100%;
    color: #535353;
}

.title-page h1{
    text-align: center;
}

.para p{
    text-align: center;
    margin: 25px;
}

.container-main{
    padding: 50px 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #e2e2e2;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
}

#border{
    border: 1px solid #535353;
}

.top-img img{
    width: 100%;
}

.content img{
    width: 300px;
}

.img-p{
    text-align: center;
}


@media screen and (max-width: 1500px){
    .content img{
        width: 100%;
    }

    .img-p{
        margin: 0 25px;
    }
}

@media screen and (max-width: 700px){
    main{
        margin-top: 150px;
    }
    
    .content{
        display: block;
    }

    .content img{
        width: 80%;
    }

    .top-img img{
        display: none;
    }
}

