body{
    background: #e2e2e2;
}

main{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #535353; 

}

.top-img{
    display: none;
}

a{
    color: rgb(21, 132, 196)
}

header{
    background: black;
}



@media screen and (min-width: 701px) and (max-width: 1200px){
    main{
        margin-top: 150px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
 

@media screen and (max-width: 700px){
    main{
        margin-top: 150px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
}
