body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  header {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1.5em 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  header::after {
    content: '';
    clear: both;
    display: block;
  }
  
  .logonav {
    float: left;
    width: 150px;
  }
  
  .site-nav {
    z-index: 4;
    position: absolute;
    top: 100%;
    right: 0%;
    background: #464655;
    -webkit-clip-path: circle(0px at top right);
            clip-path: circle(0px at top right);
    -webkit-transition: -webkit-clip-path ease-in-out 700ms;
    transition: -webkit-clip-path ease-in-out 700ms;
    -o-transition: clip-path ease-in-out 700ms;
    transition: clip-path ease-in-out 700ms;
    transition: clip-path ease-in-out 700ms, -webkit-clip-path ease-in-out 700ms;
  /*   display: none; */
  }
  
  .site-nav--open {
    z-index: 5;
    -webkit-clip-path: circle(250% at top right);
            clip-path: circle(250% at top right);
    margin: 0;
  /*   display: block; */
  }
  
  .site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .site-nav li {
    border-bottom: 1px solid #575766;
  }
  
  .site-nav li:last-child {
    border-bottom: none;
  }
  
  .site-nav a {
    color: #EBEBD3;
    display: block;
    padding: 2em 4em 2em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: rgb(175, 175, 175);
    color: rgb(21, 132, 196);
  }
  
  .site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255,255,255,.4);
  }
  
  .menu-toggle {
    padding: 1em;
    position: absolute;
    top: 1.3em;
    right: .5em;
    cursor: pointer;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
  }
  
  .hamburger::before {
    -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  
  .hamburger::after {
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
  }

  
  @media (min-width: 1430px) {
    
    .menu-toggle {
      display: none;
    }
    
    .site-nav {
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      -webkit-clip-path: initial;
              clip-path: initial;
    }
    
    .site-nav li {
      display: inline-block;
      border: none;
    }
    
    .site-nav a {
      padding: 0;
      margin-left: 3em;
    }
    
    .site-nav a:hover,
    .site-nav a:focus {
      background: transparent;
    }
    
    .site-nav--icon {
      display: none;
    }
    
  }

.top-img{
    height: 125px;
    width: 100%;
}

.top-img img{
    overflow: hidden;   
}

main{
    width: 100%;
    margin-right: auto;
    margin-left: auto;  
}

.first h1{
    margin: 35px 0;
    text-align: center; 
    color:  #545454;
}

.display{
    text-align: center; 
}

.display img{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; 
    height: auto;
}

.graphe-1 p{
    text-align: center;
    margin: 30px 50px;
    margin-bottom: 50px;
    color:  #545454;
}

.second{
    background-color: #e2e2e2;
}

.second h2{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 50px 0;
    color:  #545454;
}

.content-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.content-3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 2px;
}

.content p{
    margin: 5px 60px;
    font-size: 18px;
    color:  #545454;
}

.content hr{
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: #ccc;
}

.point3 h2{
    text-align: center;
    font-size: 150%;
    margin-bottom: 75px;
    color:  #545454;
}

.pic{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.under-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.under-title p{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 170px;
    color:  #545454;
}

.galerie{
    background-color: #e2e2e2;  
}

.galerie-3{
    text-align: center;
    margin-top: 15px;
    padding-top: 25px;
}

.galerie-3 a{
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    color:  #545454;
    text-decoration: none;
    font-weight: bold;
}

.galerie-3 h2{
    font-size: 100%;
}
.galerie-3 a:hover{
    color: rgb(21, 132, 196);
}

.galerie p{
    text-align: center;
    font-size: 18px;
    color:  #545454;
}

.more{
    text-align: center;
    height: 175px;
}

.more h3{
    margin-top: 50px;
    font-size: 1.5em;
    color:  #545454;
}

.more p{
    color:  #545454;
}

.more p>a{
    text-decoration: none;
    color: rgb(21, 132, 196);
}

.more p>a:hover{
    color: rgb(21, 132, 196);
    text-decoration: underline;
}

.more a{
    color: rgb(21, 132, 196);
    text-decoration: none;
    margin-bottom: 60px;
}

.more a:hover{
    text-decoration: underline;
}


.first-1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.second-2{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.galerie-3{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.google-4{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.last{
    padding: 25px 0;
    text-align: center;
    color:  #545454;
}

.last h3{
    font-size: 120%;
}

.donation{
    text-align: center;
    background-color: #e2e2e2;
    padding: 25px 0;
}

#title{
    font-size: 120%;
    color: rgb(21, 132, 196);
    margin: 5px;
}

.donation a{
    text-decoration: none;
    color: rgb(21, 132, 196);
}

.donation a:hover{
    text-decoration: underline;
}


footer{
    position: absolute;
    width: 100%;
    padding: 20px 0;
    background-color: #121212;
    text-align: center;
}

.flex-link{
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.right-contact{
    width: 33.3%;
}

.right-contact p{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}

.right-contact hr{
    width: 50%;
    border: none;
    border-top: 1px solid rgb(139, 139, 139);
    margin: 0 0 24px 0;
    margin-left: auto;
    margin-right: auto;
}

.location{
    width: 33.3%;
}

.location img{
    width: 300px;
    opacity: .5;
    margin-top: 25px;
}

.link{
    display: block;
    width: 33.3%;   
}

.link ul li::after{
    display: block;
    content: '';
    position: absolute;
    background:white;
    opacity: .5;
    width: 7.5%;
    height: 1px;
    margin: 10px 0;
}

.link ul li:last-child::after{
    display: none;
}

.link ul li:last-child{
    margin-bottom: 0;
}

.link ul{
    padding: 0; 
    margin: 0;
}

.link li{
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    text-align: left;
    margin-bottom: 25px;
}

iframe{
    width: 100%;
    height: 450px; 
}

.footer-image{
    display: none;
}

footer a{
    text-decoration: none;
    color: rgb(139, 139, 139);
}

footer a:hover{
    color: rgb(21, 132, 196);
    text-decoration: underline;
}

footer p{
    color: rgb(139, 139, 139);
    margin: 15px 0;
    font-size: 16px;
    margin-top: 0;
}

#p-p{
    margin-top: 50px;
}


@media screen and (min-width: 1421px){
    .top-img{
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .content-1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .content img{
        width: 500px;
        height: auto;
        margin-bottom: 50px;
    }

    .under-font p{
        width: 100%;
        height: 150px;
        text-align: center;
        color: white;
        position: absolute;
        font-size: 2.5em;
        font-weight: normal;
        z-index: 2;
        margin: 225px 0;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    .pic img{
        width: 100px;
        height: 100px;
    }

    .size{
        margin: 0 150px;
    }

    .image{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .image img{
        width: 21%;
        height: 21%;   
        margin: 25px 25px; 
    }
}

@media screen and (min-width: 1025px) and (max-width: 1420px){

    .top-img{
        width: 100%;
        height: auto;
    }

    .content img{
        width: 500px;
        height: auto;
        margin-bottom: 50px;
    }

    .top-img img{
        width: 100%;
        height: auto;
    }
    
    .under-font p{
        font-size: 150%;
        width: 100%;
        height: 150px;
        text-align: center;
        margin: 13% 0;
        color: white;
        position: absolute;
        font-weight: normal;
        z-index: 2;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    .content-1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .pic img{
        width: 100px;
        height: 100px;
    }

    .size{
        margin: 0 150px;
    }

    .image{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .image img{
        width: 21%;
        height: 21%;   
        margin: 25px 25px; 
    }
}

@media screen and (min-width: 701px) and (max-width: 1024px){

    .top-img{
        width: 100%;
        height: auto;
    }

    .content hr{
        margin: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .top-img img{
        width: 100%;
        height: auto;
    }
    
    .under-font p{
        font-size: 125%;
        width: 100%;
        height: 150px;
        margin: 13% 0;
        text-align: center;
        color: white;
        position: absolute;
        font-weight: normal;
        z-index: 2;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    .last h3{
        font-size: 100%;
        margin: 5px 5px;
    }

    .content-1{
        display: block;
    }
    
    .content-2{
        display: block;
    }
    
    .content-3{
        display: block;
        padding-bottom: 2%;
    }

    .content img{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }
    
    .content p{
        margin: 5px 60px;
        font-size: 18px;
        color:  #545454;
        text-align: center;
    }

    .pic{
        display: block;
        text-align: center;
    }
    
    .image{
        text-align: center;
    }

    .image img{
        width: 90%;
        height: 90%;   
        margin: 25px 0px; 
    }

    .pic img{
        width: 100px;
        height: 100px;
    }

    .size{
        margin: 0 150px;
    }

    .flex-link{
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .right-contact{
        margin: 25px 0;
        width: 100%;
    }
    
    .right-contact p{
        text-align: center;
        margin-bottom: 25px;
        width: 100%;
    }
    
    .right-contact hr{
        display: none;
    }
    
    .location{
        margin-top: 40px;
        width: 100%;
    }
    
    .location img{
       display: none;
    }
    
    .link{
        display: block;
        width: 100%;
        margin-top: 25px;
    }
    
    .link li{
        list-style-type: none;
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
    }

    .link ul li::after{
        display: none;
    }

    .link ul{
        padding: 0;
        width: 100%;
    }

    .footer-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        opacity: .5;
        margin-bottom: 25px;
    }

    #p-p{
        margin-top: 0;
    }
}

@media screen and (max-width: 700px){

    header{
        background: #121212;
    }

    main{
        margin-top: 150px;
    }

    .second h2{
        padding-top: 25px;
        padding-bottom: 0;
    }

    .content hr{
        margin: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .last h3{
        font-size: 100%;
        margin: 5px 5px;
    }

    .top-img{
       display: none;
    }
    
    .under-font p{
        width: 100%;
        height: 150px;
        text-align: center;
        margin: 7% 0;
        color: white;
        position: absolute;
        font-weight: normal;
        z-index: 2;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }
    
    .content-1{
        display: block;
    }
    
    .content-2{
        display: block;
    }
    
    .content-3{
        display: block;
        padding-bottom: 2%;
    }
    
    .content p{
        margin: 5px 60px;
        font-size: 18px;
        color:  #545454;
        text-align: center;
    }

    .content img{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .pic{
        display: block;
        text-align: center;
    }
    
    .image{
        text-align: center;
    }

    .image img{
        width: 90%;
        height: 90%;   
        margin: 25px 0px; 
    }

    .pic img{
        width: 100px;
        height: 100px;
    }

    .size{
        margin: 0 150px;
    }

     .flex-link{
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .right-contact{
        margin: 25px 0;
        width: 100%;
    }
    
    .right-contact p{
        text-align: center;
        margin-bottom: 25px;
        width: 100%;
    }
    
    .right-contact hr{
        display: none;
    }
    
    .location{
        margin-top: 40px;
        width: 100%;
    }
    
    .location img{
       display: none;
    }
    
    .link{
        display: block;
        width: 100%;
        margin-top: 25px;
    }
    
    .link li{
        list-style-type: none;
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
    }

    .link ul li::after{
        display: none;
    }

    .link ul{
        padding: 0;
        width: 100%;
    }

    .footer-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        opacity: .5;
        margin-bottom: 25px;
    }

    #p-p{
        margin-top: 0;
    }
} 